.venv
.claude
case*
testCase*
__pycache__/
*.pyc
CLAUDE.md
dti_alps.egg-info

# ----------------------------------
# For personal testing
# ----------------------------------
JHU-ICBM-FA-1mm.nii.gz
templates/test_shapes/*
architecture-review-20260619-130927.html
